body {
}

.block-1 {
  height: 75vh;
  background-color: #37da7b;
  color: white;
  margin: 0;
  text-align: right;
  padding-top: 100px;
  font-family: 'Shadows Into Light', cursive;
}

.heading {
  margin-bottom: 30px;
}

.block-2 {
  height: 100vh;
  color: black;
  background-color: #343A40;
}

.card {
  margin: 20px;
}
